{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Jquery Library: -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <!-- Google Fonts: -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <!-- Local Files: -->
    <link rel="stylesheet" href="{% static 'projects/css/style.css' %}">
    <title>Portfolio</title>
</head>

<body>
    <header class="c-header">
        <a href="{% url 'homepage' %}" id="logo"></a>
            <section class="icons">
			    <a href="https://il.linkedin.com/" target="_blank" id="linkedin"></a>
                <a href="https://www.facebook.com/danit.yechezkel" target="_blank" id="facebook"></a>	
                <a href="https://github.com/Danityec/file/tree/master/exercises" target="_blank" id="Github"></a>
            </section>
        </header>
    <section id="about">
        <section class="box_2">
            <img src="{% static 'projects/images/Group.png' %}" alt="Danit Noa Yechezkel">
            <p>
                <span>Hi, my name is Danit Noa Yechezkel,</span><br> 
                I’m 28 years old, and in the second year of my software engineering degree.<br>
                Served in the Israel IDF in the rank of lieutenant.<br> 
                For 3 years I was in the role of casualty officer, I accompanied and supported<br>
                soldiers and families during their rehabilitation process.<br>
                3 things that define me would be: Sport is my life, Books are my love And<br>
                knowledge is power that I will add to myself.
            </p>
        </section>
    </section>
    <section id="cv">
        <section class="box_1">
            <h2>CV</h2><br>
            <p>
                <h3>Education</h3><br>
                2019- Current: Software Engineering studies at Shenkar College<br>
                2010-2014: Full matriculation diploma - Shleon school<br>
                <br><h3>Work Experience</h3><br>
                <h4>2016-2017 Manger of a security unit at HP Division</h4>
                • Responsible for the security and safety system, including the shift managers and control room<br>
                • Managing the security teams, coordinating work plans, classifying and recruiting employees, training
                new<br>
                employees, handling wages and workers' rights within the company<br>
                • instructing of security and safety content, ongoing conduct with various parties, medical and police
                for<br>
                routine management and management of exceptional and emergency events. Participation, organization, and<br>
                management of emergency teams in exceptional events<br>
                • Audit and oversight of the quality of security and safety and the transmission of periodic reports to<br>
                corporate entities<br>
                <br><h4>2013-2015: Capt. Staff Office, Head of Senior staff in the Artillery Corps</h4>
                • In-depth management and familiarity with the artillery personnel in the artillery corps, direct and
                indirect<br>
                management of all professional teams.<br>
                • Construction, development, management and monitoring of execution of work plans, determination and<br>
                monitoring of milestones, performance evaluation, and preparation of monthly and annual reports.<br>
                • Writing and implementation of faculty procedures, and organizational culture in the organization.
                Senior<br>
                partner in cross-organizational decision making, responsible for developing human resources at all
                levels<br>
                while regularly monitoring and reporting back to the commanding arm.<br>
                • Develop and maintain regular contact with service recipients, address the officers' problems and
                exercise<br>
                their rights in the field of faculty and appointments. Daily and ongoing treatment of<br>
                the officers' problems in the Corps.<br>
                • High service awareness, job creation, and creating a reliable workplace for serving officers. "Open
                door"<br>
                policy and personal connection to all those seeking help.<br>
                • Experience and extensive knowledge of the personnel system, developing professional relationships with<br>
                the trustees, control and faculty.<br>
                <br><h4>2011-2013: Deputy casualty officer in the Liaison and Communications Corps</h4>
                • Accompanying bereaved families in the contact and communication corps, the concentration of<br>
                responsibility for the hospitalized area, the sons of bereaved families in providing escort from the time
                of<br>
                receiving the first order of military service to reserve duty, contacting, escorting and keeping with
                the<br>
                soldier's disability and attendance at the memorial service throughout the year.<br>
                • Concentration and preparation of projects, holidays and special events of the corps.<br>
                • Writing and implementing the casualty system layout, training, implementation, and improvement of<br>
                organizational and operational methodologies and tools. Schedule planning and work plans, supervision
                and<br>
                control, recommendations for streamlining and improving process work. Providing ongoing consultation<br>
                on various organizational issues.<br>
                <br><h4>2014: Excellence acknowledgment as an officer in the Trinity Corps and promotion to rank of Major</h4>
                <br>
                <h3>Military Service</h3>
                2010-2012 Full service for the city officer in Casualties department.<br>
                <br><h3>Computer Proficiency</h3>
                Microsoft Office: Word, Excel, PowerPoint, c ,c++ ,python , html , css , assembly, javascript.<br>
                <br><h3>Languages</h3>
                Hebrew – Mother tongue | English- Very good<br>
            </p>
        </section>    
        <!-- <button class="download">Download CV</button> -->
    </section>
    <section id="projects">
        <h2>Project</h2>
        <section class="box">
            <section class="nativ">
                <a href="http://shenkar.html5-book.co.il/2019-2020/web1/dev_207/index.html">Nativ+ Project</a>
                <img src="{% static 'projects/images/nativ.png' %}"  alt="nativ">
            </section> 
            <section class="Personal_form">
                <a href="http://shenkar.html5-book.co.il/2019-2020/web1/dev_29/exercises/ex4/index.html">Personal form</a>
                <img src="{% static 'projects/images/form.png' %}" alt="form">
            </section>
        </section> 
    </section>
</body>

</html>